<!-- 
* File: app.component.html
* Author: Baráth Dávid
* Copyright: 2022, Baráth Dávid
* Group: Szoft 2 N
* Date: 2022-11-23
* Github: https://github.com/david587/
* Licenc: GNU GPL -->

<div class="triangleForm bg-light">
  <h1>{{cim}}</h1>
  <p>{{[nev,osztaly,datum]}}</p>
  <div class="mb-3">
    <label for="hossz" class="form-label">Hossz</label>
    <input type="text" id="hossz" class="form-control" [(ngModel)]="hossz">
  </div>
  <div class="mb-3">
    <label for="elotolas" class="form-label">Előtolás</label>
    <input type="text" id="elotolas" class="form-control" [(ngModel)]="elotolas">
  </div>
  <div class="mb-3">
    <label for="fordulatszam" class="form-label">Fordulatszám</label>
    <input type="text" id="fordulatszam" class="form-control" [(ngModel)]="fordulatszam">
  </div>

  <button class="btn btn-warning" (click)="calcArea()">Számit</button>

  <div class="mb-3" *ngIf="show">
    <label for="ido" class="form-label">Megmunkálási idő</label>
    <input type="text" id="ido" class="form-control" [(ngModel)]="ido">
  </div>

</div>